In [116]:
import wrangle
import regression_models as model
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from math import sqrt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,explained_variance_score, r2_score
from sklearn.linear_model import LinearRegression,LassoLars,TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error,explained_variance_score

In [158]:
df = wrangle.bee_merged()

In [159]:
df

,state,year,season,beekeepers,total_loss,average_loss,starting_colonies,colonies_lost,ending_colonies,beekeepers_exclusive_to_state,colonies_exclusive_to_state,colonies_net_gain,beekeeper_colony_ratio,ansi,latitude,longitude
0,alabama,2022,annual,33,36.488812,34.260096,316,212,369,100.0,100.0,53,11.181818,1,32.806671,-86.791130
1,arkansas,2022,annual,17,49.411765,52.869897,148,126,129,100.0,100.0,-19,7.588235,5,34.969704,-92.373123
2,california,2022,annual,60,20.706772,46.205700,42034,11555,44248,100.0,100.0,2214,737.466667,6,36.116203,-119.681564
3,colorado,2022,annual,90,53.227771,40.620432,379,437,384,100.0,100.0,5,4.266667,8,39.059811,-105.311104
4,connecticut,2022,annual,28,33.862434,38.147562,88,64,125,100.0,100.0,37,4.464286,9,41.597782,-72.755371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,vermont,2011,annual,31,44.280443,41.199099,149,120,151,100.0,100.0,2,4.870968,50,44.045876,-72.710686
482,virginia,2011,annual,167,40.861813,34.156246,760,550,796,100.0,100.0,36,4.766467,51,37.769337,-78.169968
483,washington,2011,annual,61,36.026936,38.047901,340,214,380,100.0,100.0,40,6.229508,53,47.400902,-121.490494
484,west_virginia,2011,annual,23,41.250000,36.881733,94,66,94,100.0,100.0,0,4.086957,54,38.491226,-80.954453
485,wisconsin,2011,annual,46,41.837838,52.742064,529,387,538,100.0,100.0,9,11.695652,55,44.268543,-89.616508

In [160]:
train, validate, test = model.split_data(df)

In [161]:
# train = df[df.year <= 2017]
# val = df[df.year > 2017]

In [162]:
#val

In [163]:
# validate = val[val.year <= 2019]
# test = val[val.year > 2019]

In [164]:
train

,state,year,season,beekeepers,total_loss,average_loss,starting_colonies,colonies_lost,ending_colonies,beekeepers_exclusive_to_state,colonies_exclusive_to_state,colonies_net_gain,beekeeper_colony_ratio,ansi,latitude,longitude
264,michigan,2016,annual,192,52.263736,58.693341,1088,1189,1086,100.0,100.0,-2,5.656250,26,43.326618,-84.536095
160,alabama,2018,annual,50,46.123147,39.934940,1220,809,945,100.0,100.0,-275,18.900000,1,32.806671,-86.791130
72,utah,2021,annual,52,74.008811,74.378778,246,336,118,100.0,100.0,-128,2.269231,49,40.150032,-111.862434
410,wisconsin,2013,annual,118,65.935362,68.731929,2588,2795,1444,100.0,100.0,-1144,12.237288,55,44.268543,-89.616508
277,rhode_island,2016,annual,16,27.142857,33.511905,42,19,51,100.0,100.0,9,3.187500,44,41.680893,-71.511780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,connecticut,2015,annual,53,66.120219,57.336702,220,242,124,100.0,100.0,-96,2.339623,9,41.597782,-72.755371
65,ohio,2021,annual,84,57.041420,55.644538,437,482,363,100.0,100.0,-74,4.321429,39,40.388783,-82.764915
61,new_hampshire,2021,annual,26,53.987730,57.689501,104,88,75,100.0,100.0,-29,2.884615,33,43.452492,-71.563896
223,montana,2017,annual,11,40.186916,50.124158,65,43,64,100.0,100.0,-1,5.818182,30,46.921925,-110.454353
434,new_york,2012,annual,114,30.373002,32.459869,1079,684,1568,100.0,100.0,489,13.754386,36,42.165726,-74.948051

In [165]:
train.shape, validate.shape, test.shape

((291, 16), (97, 16), (98, 16))

In [184]:
columns = ['beekeepers','total_loss','average_loss','starting_colonies','ending_colonies',
           'colonies_net_gain','beekeeper_colony_ratio','latitude','longitude']

In [185]:
scaled_train, scaled_validate, scaled_test = model.scale_data(train,validate,test,columns)

In [186]:
scaled_train

,state,year,season,beekeepers,total_loss,average_loss,starting_colonies,colonies_lost,ending_colonies,beekeepers_exclusive_to_state,...,longitude,beekeepers_scaled,total_loss_scaled,average_loss_scaled,starting_colonies_scaled,ending_colonies_scaled,colonies_net_gain_scaled,beekeeper_colony_ratio_scaled,latitude_scaled,longitude_scaled
0,michigan,2016,annual,192,52.263736,58.693341,1088,1189,1086,100.0,...,-84.536095,0.276758,0.544831,0.673037,0.021437,0.022121,0.474747,0.008215,0.792495,0.712385
1,alabama,2018,annual,50,46.123147,39.934940,1220,809,945,100.0,...,-86.791130,0.059633,0.459226,0.373498,0.024104,0.019189,0.441524,0.036673,0.256709,0.669586
2,utah,2021,annual,52,74.008811,74.378778,246,336,118,100.0,...,-111.862434,0.062691,0.847973,0.923507,0.004425,0.001996,0.459413,0.000937,0.630710,0.193750
3,wisconsin,2013,annual,118,65.935362,68.731929,2588,2795,1444,100.0,...,-89.616508,0.163609,0.735423,0.833336,0.051745,0.029563,0.335767,0.022356,0.840468,0.615962
4,rhode_island,2016,annual,16,27.142857,33.511905,42,19,51,100.0,...,-71.511780,0.007645,0.194627,0.270933,0.000303,0.000603,0.476086,0.002910,0.708677,0.959577
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,connecticut,2015,annual,53,66.120219,57.336702,220,242,124,100.0,...,-72.755371,0.064220,0.738000,0.651374,0.003900,0.002121,0.463308,0.001088,0.704445,0.935974
287,ohio,2021,annual,84,57.041420,55.644538,437,482,363,100.0,...,-82.764915,0.111621,0.611435,0.624353,0.008284,0.007089,0.465985,0.005346,0.642870,0.746000
288,new_hampshire,2021,annual,26,53.987730,57.689501,104,88,75,100.0,...,-71.563896,0.022936,0.568864,0.657007,0.001556,0.001102,0.471462,0.002259,0.798906,0.958588
289,montana,2017,annual,11,40.186916,50.124158,65,43,64,100.0,...,-110.454353,0.000000,0.376471,0.536202,0.000768,0.000873,0.474869,0.008563,0.975605,0.220475
290,new_york,2012,annual,114,30.373002,32.459869,1079,684,1568,100.0,...,-74.948051,0.157492,0.239658,0.254133,0.021256,0.032141,0.534502,0.025616,0.733370,0.894359

In [187]:
y_train = train[['colonies_lost']]
y_validate = validate[['colonies_lost']]
X_train = scaled_train[columns]
X_validate = scaled_validate[columns]
X_test = scaled_test[columns]

In [188]:
model.get_baseline_RMSE(y_train, y_validate)

RMSE using Mean on
Train:  2794.49
Validate:  1715.12

RMSE using Median on
Train:  2867.69
Validate:  1837.86

In [189]:
model.get_RMSE(X_train, y_train, X_validate, y_validate)

                                 model   RMSE_train  RMSE_validate
0                             Baseline  2794.490927    1715.116523
1                        OLS Regressor  1170.320000     903.910000
2                 LASSOLARS(alpha = 1)  1171.640000     888.350000
3  Tweedie Regressor(power=1, alpha=0)  2794.490000    1715.200000
4    Polynomial Regression(degree = 5)     0.000000   38532.570000

In [190]:
def get_RMSE(X_train,y_train, X_validate, y_validate):
    '''
    this function will calculate baseline mean and baseline median and calculate RMSE from mean and median
    '''
    #get mean of target from train
    y_train["baseline_mean"] = y_train.colonies_lost.mean()
    #get median of target from train
    y_train["baseline_median"] =y_train.colonies_lost.median()
    #get mean of target from validate
    y_validate["baseline_mean"] = y_validate.colonies_lost.mean()
    #get median from target from validate
    y_validate["baseline_median"] =y_validate.colonies_lost.median()
    
    #calculate RMSE 
    RMSE_train_mean=mean_squared_error(y_train.colonies_lost,y_train.baseline_mean, squared = False)
    RMSE_validate_mean=mean_squared_error(y_validate.colonies_lost,y_validate.baseline_mean, squared = False)

    #print("RMSE using Mean on \nTrain: ", round(RMSE_train_mean,2), "\nValidate: ", round(RMSE_validate_mean,2))
    #print()

    #calculate RMSE
    RMSE_train_median= mean_squared_error(y_train.colonies_lost,y_train.baseline_median, squared = False)
    RMSE_validate_median= mean_squared_error(y_validate.colonies_lost,y_validate.baseline_median, squared = False)

    #print("RMSE using Median on \nTrain: ", round(RMSE_train_median,2), "\nValidate: ", round(RMSE_validate_median,2))
    
    #make a dataframe to capture model and RMSE 
    metric_df = pd.DataFrame(data=[
            {
                'model': 'Baseline', 
                'RMSE_train': RMSE_train_mean,
                'RMSE_validate': RMSE_validate_mean
                }
            ])
    
    # create the model object
    lm = LinearRegression(normalize = True)
    # Fit the model
    lm.fit(X_train, y_train.colonies_lost)
    # Predict y on train
    y_train['colonies_lost_pred_lm'] = lm.predict(X_train)
    # predict validate
    y_validate['colonies_lost_pred_lm'] = lm.predict(X_validate)
    
    # evaluate: train rmse
    rmse_train_lm= round(mean_squared_error(y_train.colonies_lost, y_train.colonies_lost_pred_lm,squared = False), 2)
    # evaluate: validate rmse
    rmse_validate_lm= round(mean_squared_error(y_validate.colonies_lost, y_validate.colonies_lost_pred_lm,squared = False),2)

    #append model and RMSE from OLS model to metric dataframe
    metric_df = metric_df.append({
    'model': 'OLS Regressor', 
    'RMSE_train': rmse_train_lm,
    'RMSE_validate': rmse_validate_lm,
    }, ignore_index=True)
    
    
    # create the model object
    lars = LassoLars(alpha=1)
    # fit the model.
    lars.fit(X_train, y_train.colonies_lost)
    # predict train
    y_train['colonies_lost_pred_lars'] = lars.predict(X_train)
    # predict validate
    y_validate['colonies_lost_pred_lars'] = lars.predict(X_validate)
    # evaluate: train rmse
    rmse_train_lars = round(mean_squared_error(y_train.colonies_lost, y_train.colonies_lost_pred_lars, squared = False),2)
    # evaluate: validate rmse
    rmse_validate_lars= round(mean_squared_error(y_validate.colonies_lost, y_validate.colonies_lost_pred_lars,squared = False),2)

    #append model and RMSE from LASSOLARS model to metric dataframe
    metric_df = metric_df.append({
    'model': 'LASSOLARS(alpha = 1)', 
    'RMSE_train': rmse_train_lars,
    'RMSE_validate': rmse_validate_lars,
    }, ignore_index=True)
    
    
    
    # create the model object
    glm = TweedieRegressor(power=1, alpha=1)
    # fit the model to our training data.
    glm.fit(X_train, y_train.colonies_lost)
    # predict train
    y_train['colonies_lost_pred_glm'] = glm.predict(X_train)
    # predict validate
    y_validate['colonies_lost_pred_glm'] = glm.predict(X_validate)
    # evaluate: train rmse
    rmse_train_tw = round(mean_squared_error(y_train.colonies_lost, y_train.colonies_lost_pred_glm,squared = False),2)
    # evaluate: validate rmse
    rmse_validate_tw= round(mean_squared_error(y_validate.colonies_lost, y_validate.colonies_lost_pred_glm, squared = False),2)

    #append model and RMSE from GLM model to metric dataframe
    metric_df = metric_df.append({
    'model': 'Tweedie Regressor(power=1, alpha=1)', 
    'RMSE_train': rmse_train_tw,
    'RMSE_validate': rmse_validate_tw,
    }, ignore_index=True)
    
    #create model object
    pf= PolynomialFeatures(degree= 2)
    # fit and transform X_train_scaled
    X_train_degree5 = pf.fit_transform(X_train)
    # transform X_validate_scaled 
    X_validate_degree5 = pf.transform(X_validate)

    # create the model object
    lm5 = LinearRegression(normalize=True)
    # fit the model to our training data. We must specify the column in y_train,  
    lm5.fit(X_train_degree5, y_train.colonies_lost)
    # predict train
    y_train['colonies_lost_pred_lm5'] = lm5.predict(X_train_degree5)
    # predict validate
    y_validate['colonies_lost_pred_lm5'] = lm5.predict(X_validate_degree5)

    # evaluate: train rmse
    rmse_train_py= round(mean_squared_error(y_train.colonies_lost, y_train.colonies_lost_pred_lm5),2)
    # evaluate: validate rmse
    rmse_validate_py= round(mean_squared_error(y_validate.colonies_lost, y_validate.colonies_lost_pred_lm5) , 2)

    #append model and RMSE from Polynomial Regression model to metric dataframe
    metric_df = metric_df.append({
    'model': 'Polynomial Regression(degree = 2)', 
    'RMSE_train': rmse_train_py,
    'RMSE_validate': rmse_validate_py,
    }, ignore_index=True).round(2)
    
    
    print(metric_df)

In [191]:
get_RMSE(X_train,y_train, X_validate, y_validate)

                                 model  RMSE_train  RMSE_validate
0                             Baseline     2794.49        1715.12
1                        OLS Regressor     1170.32         903.91
2                 LASSOLARS(alpha = 1)     1171.64         888.35
3  Tweedie Regressor(power=1, alpha=1)     2794.49        1715.20
4    Polynomial Regression(degree = 2)    21019.52    17641652.06

In [118]:
train['baseline'] = y_train.colonies_lost.mean()

In [ ]:
columns = ['beekeepers','total_loss','average_loss','starting_colonies','ending_colonies',
           'colonies_net_gain','beekeeper_colony_ratio','latitude','longitude']

In [ ]:
y_train = train[['colonies_lost']]
y_validate = validate[['colonies_lost']]
X_train = scaled_train[columns]
X_validate = scaled_validate[columns]
X_test = scaled_test[columns]

In [135]:
def poly_lm(X_train_scaled, X_validate_scaled, X_test_scaled, y_train, y_validate, train, d=2):
    '''This function takes in seven arguments (X_train_scaled, X_validate_scaled, X_test_scaled, y_train, y_validate, 
    train, and the desired degree. The function initiates a polynomial features linear regression model object and fits 
    the train dataset to the model. The function predicts values for the target variable and outputs the name of the model, 
    the rmse for train, the rmse for validate, the r2 score for the model, whether or not the model is better than baseline, 
    and the difference between the baseline RMSE and the model RMSE.'''
    RMSE_train=mean_squared_error(y_train.colonies_lost,y_train.baseline_mean, squared = False)
    RMSE_validate=mean_squared_error(y_validate.colonies_lost,y_validate.baseline_mean, squared = False)

    metric_df = pd.DataFrame(data=[
            {
                'model': 'Baseline', 
                'RMSE_train': RMSE_train,
                'RMSE_validate': RMSE_validate
                }
            ])
    # make the polynomial features to get a new set of features
    pf = PolynomialFeatures(degree=d)
    # fit and transform X_train_scaled
    X_train_degree2 = pf.fit_transform(X_train_scaled)
    # transform X_validate_scaled & X_test_scaled
    X_validate_degree2 = pf.transform(X_validate_scaled)
    X_test_degree2 = pf.transform(X_test_scaled)
    # create the model object
    lm2 = LinearRegression()
    # fit the model to the training data
    lm2.fit(X_train_degree2, y_train.colonies_lost)
    # predict train
    y_train['value_pred_lm2'] = lm2.predict(X_train_degree2)
    # evaluate: rmse
    rmse_train = mean_squared_error(y_train.colonies_lost, y_train.value_pred_lm2)**(1/2)
    # predict validate
    y_validate['value_pred_lm2'] = lm2.predict(X_validate_degree2)
    # evaluate: rmse
    rmse_validate = mean_squared_error(y_validate.colonies_lost, y_validate.value_pred_lm2)**(1/2)
    # create a new column for the model's predictions
    train['yhat'] = lm2.predict(X_train_degree2)
    # calculate the r2 score for the model
    r2 = r2_score(train.colonies_lost, train.yhat)
    # calculate the model's RMSE
    RMSE = sqrt(mean_squared_error(train.colonies_lost, train.yhat))
    # calculate the baseline RMSE
    RMSE_baseline = sqrt(mean_squared_error(train.colonies_lost, train.baseline))
    # determine whether the model performs better than baseline
    better =  RMSE < RMSE_baseline
    # calculate the difference between the model RMSE and baseline RMSE
    difference = RMSE_baseline - RMSE
    # output saved values as a list to be entered into a dataframe later
    
    metric_df = metric_df.append({
    'model': 'Polynomial Regression(degree = 2)', 
    'RMSE_train': rmse_train,
    'RMSE_validate': rmse_validate,
    }, ignore_index=True)
    
    
    print(metric_df)
    
    #return ["Poly Linear Regression", rmse_train, rmse_validate, r2, better, difference]

In [136]:
poly_lm(X_train, X_validate, X_test, y_train, y_validate, train, d=2)

                               model    RMSE_train  RMSE_validate
0                           Baseline  2.648506e+03   1.294375e+03
1  Polynomial Regression(degree = 2)  6.514269e-08   5.163682e-07